[Desktop Entry]
Name=neverputt
Comment=Miniature golf based on Neverball
Comment[pl]=Miniaturowy golf bazowany na Neverballu
Exec=neverputt
Icon=neverputt
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
# vi: encoding=utf-8
