[Desktop Entry]
Name=neverball
Comment=3d game with rolling the ball
Comment[pl]=Gra 3d polegająca na toczeniu kulki 
Exec=neverball
Icon=neverball.png
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
Encoding=UTF-8
# vi: encoding=utf-8
